<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApacKernel" version="1.10.0" targetFramework="net451" />
  <package id="ApacKernel.Repositories" version="1.10.0" targetFramework="net451" />
  <package id="ApacKernel.Repositories.Dapper" version="1.10.1" targetFramework="net451" />
  <package id="AutoMapper" version="4.2.1" targetFramework="net451" />
  <package id="Dapper" version="1.42" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net451" />
</packages>