<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApacKernel" version="1.10.0" targetFramework="net451" />
  <package id="ApacKernel.AspNet" version="3.0.0" targetFramework="net451" />
  <package id="ApacKernel.AspNet.Security" version="3.0.0" targetFramework="net451" />
  <package id="ApacKernel.AspNet.Security.Authentication.Systems" version="3.0.0" targetFramework="net451" />
  <package id="ApacKernel.AspNet.WebApi" version="3.0.0" targetFramework="net451" />
  <package id="ApacKernel.AspNet.WebApi.Clients" version="3.1.1" targetFramework="net451" />
  <package id="ApacKernel.Diagnostics.NewRelic" version="1.10.0" targetFramework="net451" />
  <package id="ApacKernel.Repositories" version="1.10.0" targetFramework="net451" />
  <package id="AutoMapper" version="4.2.1" targetFramework="net451" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net451" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net451" />
  <package id="Moq" version="4.5.8" targetFramework="net451" />
  <package id="Admin.Client" version="1.0.48" targetFramework="net451" />
  <package id="TaxonomyService.Client" version="1.0.1" targetFramework="net451" />
  <package id="NewRelic.Agent.Api" version="5.2.87.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net451" />
</packages>